<!DOCTYPE html>
        <html>
                <head>
                        <title>{{page.title }}</title>
                        <!-- link ot main stylesheet -->
                        <link rel="stylesheet" type="text/css" href="/css/main.css">
                </head>
                <body>
                        <nav>
                        <ul>
                                <li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jnies@email.arizona.edu">University email</a></li>
                                <li><a href="mailto:james.l.nies@gmail.com">Personal email</a></li>
	        		<li><a href="https://github.com/JamesNies-Geospatial">github.com/JamesNies-Geospatial</a></li>
				</ul>
			</footer>
		</body>
	</html>
